$numero-border-radius: 1em;

.numero {
  background: #FFF none repeat scroll 0 0;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: $numero-border-radius;
  border: 4px solid transparent;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.numero-label {
  line-height: 1.5em;
  font-weight: bold;
  float: left;
  width: 30%;
  padding-left: 2%;
  border-radius: $numero-border-radius;
  color: #FFF;
  margin-left: -2px;
}

$numero-content-margin: .5em;
.numero-content {
  line-height: 1.5em;
  float: left;
  margin-left: $numero-content-margin;
  font-weight: bold;
}

$numero-vert-color: #8CC33A;
.numero-vert {
  width: 212px;
  border-color: $numero-vert-color;
}

.numero-vert-label {
  background: $numero-vert-color no-repeat scroll 6px 4px;
}

.numero-vert-content {
  color: $numero-vert-color;
}

$numero-indigo-color: #924793;
$numero-indigo-label-width: 6em;
$numero-indigo-content-width: 7em;
$numero-indigo-width: $numero-indigo-label-width + $numero-indigo-content-width + 2 * $numero-content-margin;
.numero-indigo {
  width: $numero-indigo-width;
  border-color: $numero-indigo-color;
}

.numero-indigo-label {
  background: $numero-indigo-color no-repeat scroll 6px 4px;
  width: $numero-indigo-label-width;
}

.numero-indigo-content {
  color: $numero-indigo-color;
  width: $numero-indigo-content-width;
}