.numero {
    background: #FFF none repeat scroll 0 0;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 1em;
    border: 4px solid transparent;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.numero-label {
    line-height: 1.5em;
    font-weight: bold;
    float: left;
    width: 30%;
    padding-left: 2%;
    border-radius: 1em;
    color: #FFF;
    margin-left: -2px;
}

.numero-content {
    line-height: 1.5em;
    float: left;
    margin-left: 0.5em;
    font-weight: bold;
}

.numero-vert {
    width: 212px;
    border-color: #8CC33A;
}

.numero-vert-label {
    background: #8CC33A no-repeat scroll 6px 4px;
}

.numero-vert-content {
    color: #8CC33A;
}

.numero-indigo {
    width: 14em;
    border-color: #924793;
}

.numero-indigo-label {
    background: #924793 no-repeat scroll 6px 4px;
    width: 6em;
}

.numero-indigo-content {
    color: #924793;
    width: 7em;
}
